#scores{
	background:#eee;
	width:300px;
	position:fixed;
	top :10px;
	left:10px;
}

#scores tr td.turn.active{
	background:#ff6;
}

#guess-input{
	position : fixed;
	left     : 0;
	right    : 0;
	bottom   : 10px;
	margin   : auto;
	width    : 200px;
}

#guess-input .button.guess{
	display:inline-block;
}